.card_alert{
    webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
      display: -webkit-box; 
      text-overflow: ellipsis;
}

.card_text{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
flex: 1 0 0;
}

.card_content{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
}